* {
    margin: 0;
    padding: 0;
}

main {
    margin-left: 150px;
    font-size: 20px;
    max-height: 1400px;
}

img:hover {
    outline: 2px solid #fff;
    box-shadow: 5px 5px 20px #fff;
}

#cover-text {
    color: #fff;
    font-family: cursive;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 30%;
}

#cover-text > p {
    font-size: 30px;
}

#cover-text > h1 {
    font-family: 'Odibee Sans', cursive;
    font-size: 1em;
}

.image-cover {
    margin-left: 150px;
    padding: 20% 40% 35% 40%;
    background-image: url("./images/backgroundimage.jpg");
    filter: blur(6px);
    background-color: rgb(29, 32, 75);
}

#avatar img {
    height: 300px;
    width: 250px;
    position: absolute;
    left: 30%;
    top: 10%;
}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(39, 38, 38);
    z-index: 1;
}

.sidenav a {
    color: cyan;
    font-family: 'Odibee Sans', cursive;
    font-size: xx-large;
    padding-left: 20px;
    text-decoration: none;
    transition: 1s;
}

.sidenav a:hover {
    color: coral;
    transition: 0.5s;
    font-size: 35px;
}

#about {
    color: rgb(49, 48, 48);
    background-color: #fff;
    padding: 100px;
    margin: 10% 0;
}

#about > h1 {
    color: coral;
    font-family: 'Odibee Sans', cursive;
}

#about  p {
    font-family: 'Nunito', sans-serif;
}

#work {
    background-color: rgb(39, 38, 38);
    color: #fff;
    padding: 100px;
    height: 500px;
    filter: blur(6px);
}


#work > h1 {
    color: coral;
    position: relative;
    bottom: 20px;
}

#work-header {
    font-family: 'Odibee Sans', cursive;
    color: coral;
    position: relative;
    bottom: 500px;
    left: 640px;
    width: 170px;
}

#work-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
    width: 700px;
    position: relative;
    bottom: 450px;
    left: 200px;
}

#work-grid-container h4 {
    font-family: 'Nunito', sans-serif;
}

.grid-image {
    box-shadow: 5px 5px 10px grey;
}


#resume {
    font-size: xx-large;
    color: coral;
    background-color: rgb(39, 38, 38);
    position: relative;
    padding: 20px;
    margin: 0;
    bottom: 200px;
    left: 500px;
    border: 2px solid rgb(39, 38, 38);
    border-radius: 10px;
    width: 300px;
    box-shadow: 10px 10px 10px grey;
}

#resume  h2 {
    font-family: 'Odibee Sans', cursive;
}

#resume div a {
    font-size: 25px;
    text-decoration: none;
    color: cyan;
    transition: 2s;
    font-family: 'Nunito', sans-serif;
}

#resume div a:hover {
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
}

#contact {
    font-size: xx-large;
    width: 100%;
    position: relative;
    background-color: rgb(39, 38, 38);
    height: 150px;
}

#contact h3 {
    position: absolute;
    left: 330px;
    bottom: 73px;
    width: fit-content;
    font-size: 40px;
    color: coral;
    font-family: 'Odibee Sans', cursive;
}

#contact ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: 600px;
    bottom: 75px;
    width: 700px;
    color: turquoise;
    font-family: 'Nunito', sans-serif;
}

#linked-in a, #git-link a {
    text-decoration: none;
    color:turquoise;
}

#linked-in a:hover, #git-link a:hover {
    color: coral;
}